.labelCadastro {
  display: block;
  color: #fff;
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
  padding: 5px;
  border: var(--roxoClaro) solid 3px;
  border-radius: 8px;
  display: block;
}

.classForm input {
  margin-bottom: 20px;
}

.buttonCadastro {
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  border: var(--roxoClaro) solid 3px;
  border-radius: 6px;
  cursor: pointer;
}

.campoObrigatorio {
  color: #ff0000;
}

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.checkbox a {
  text-decoration: underline;
  color: #fff;
}

.checkbox label {
  color: #fff;
  margin: 0px;
}

.checkbox input {
  margin: 0px;
  width: 20px;
  height: 20px;
}

select {
  font-size: 1.2rem;
  padding: 5px 12px;
  margin-bottom: 20px;
  font-family: Poppins;
  border: var(--roxoClaro) solid 3px;
  border-radius: 6px;
}

.containerCadastro {
  background: url(./img/background-light.svg);
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.3);
}