@import url(global.css);


.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
}

/* CONTEUDO */

.meuPost {
  max-width: 1060px;
}

.containerAlt {
  display: grid;
  place-items: center;
  max-width: 1060px;
  /* height: 640px; */
}

.conteudoPost {
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 40px 5px 40px 5px;
  text-align: center;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: center;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom, #dda0dd, var(--roxoEscuro));
  border-image-slice: 1;
  border-radius: 6px;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  background: #000;
  width: 1000px;
}

.ingredienteDiv {
  margin-top: 1rem;
}

.button-add {
  background-image: linear-gradient(var(--roxoClaro), var(--roxoEscuro));
  border: 1px solid #4800bc;
  border-radius: 4px;
  font-family: 'Poppins';
  color: #ffffff;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

h2 {
  margin-top: 1rem;
}

.receitaTexto {
  margin-top: 1rem;
}

.foto {
  display: none;
}

.button-15 {
  margin-top: 1rem;
}

.editor {
  width: 700px;
  height: 350px;
}

.containerAlt p {
  margin-bottom: 1rem;
}

.conteudoPost h1 {
  font-size: 3rem;
}

/* BOTÃO */

.button-15 {
  background-image: linear-gradient(var(--roxoClaro), var(--roxoEscuro));
  border: 1px solid #4800bc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:disabled {
  cursor: default;
  opacity: 0.3;
}

.button-15:hover {
  background-image: linear-gradient(var(--roxoClaro), var(--roxoEscuro));
  border-color: #4800bc;
  text-decoration: none;
}

.button-15:active {
  background-image: linear-gradient(var(--roxoClaro), var(--roxoEscuro));
  border-color: #4800bc;
  outline: none;
}

.button-15:focus {
  box-shadow: rgba(188, 131, 253, 0.5) 0 0 0 3px;
  outline: none;
}
